<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="dotnet5" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    <add key="nuget-build" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/nuget-build/nuget/v3/index.json" />
    <add key="dotnet3" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet3/nuget/v3/index.json" />
    <add key="dotnet3-transport" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet3-transport/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <packageSourceMapping>
    <packageSource key="dotnet5">
      <package pattern="microsoft.netcore.platforms" />
      <package pattern="microsoft.win32.registry" />
      <package pattern="microsoft.win32.systemevents" />
      <package pattern="system.commandline" />
    </packageSource>
    <packageSource key="dotnet-tools">
      <package pattern="microsoft.build.tasks.git" />
      <package pattern="microsoft.codecoverage" />
      <package pattern="microsoft.sourcelink.azurerepos.git" />
      <package pattern="microsoft.sourcelink.common" />
      <package pattern="microsoft.sourcelink.github" />
    </packageSource>
    <packageSource key="dotnet-eng">
      <package pattern="microbuild.core.sentinel" />
      <package pattern="microsoft.diasymreader.pdb2pdb" />
      <package pattern="microsoft.dotnet.arcade.sdk" />
      <package pattern="microsoft.dotnet.build.tasks.feed" />
      <package pattern="microsoft.dotnet.maestro.tasks" />
      <package pattern="microsoft.dotnet.signtool" />
      <package pattern="microsoft.dotnet.xlifftasks" />
      <package pattern="microsoft.symboluploader.build.task" />
      <package pattern="xunit" />
      <package pattern="xunit.assert" />
      <package pattern="xunit.core" />
      <package pattern="xunit.extensibility.core" />
      <package pattern="xunit.extensibility.execution" />
      <package pattern="xunit.runner.console" />
      <package pattern="sn" />
    </packageSource>
    <packageSource key="dotnet-public">
      <package pattern="castle.core" />
      <package pattern="coverlet.collector" />
      <package pattern="microbuild.core" />
      <package pattern="microsoft.aspnetcore.app.runtime.win-x64" />
      <package pattern="microsoft.aspnetcore.app.runtime.win-x86" />
      <package pattern="microsoft.build" />
      <package pattern="microsoft.build.framework" />
      <package pattern="microsoft.build.locator" />
      <package pattern="microsoft.csharp" />
      <package pattern="microsoft.net.test.sdk" />
      <package pattern="microsoft.netcore.app.runtime.win-x64" />
      <package pattern="microsoft.netcore.app.runtime.win-x86" />
      <package pattern="microsoft.netcore.platforms" />
      <package pattern="microsoft.netcore.targets" />
      <package pattern="microsoft.testplatform.objectmodel" />
      <package pattern="microsoft.testplatform.testhost" />
      <package pattern="microsoft.visualstudio.sdk.embedinteroptypes" />
      <package pattern="microsoft.visualstudio.setup.configuration.interop" />
      <package pattern="microsoft.win32.primitives" />
      <package pattern="microsoft.win32.systemevents" />
      <package pattern="microsoft.windowsdesktop.app.runtime.win-x64" />
      <package pattern="microsoft.windowsdesktop.app.runtime.win-x86" />
      <package pattern="moq" />
      <package pattern="netstandard.library" />
      <package pattern="newtonsoft.json" />
      <package pattern="nuget.frameworks" />
      <package pattern="nuget.versioning" />
      <package pattern="runtime.any.system.collections" />
      <package pattern="runtime.any.system.globalization" />
      <package pattern="runtime.any.system.io" />
      <package pattern="runtime.any.system.reflection" />
      <package pattern="runtime.any.system.reflection.primitives" />
      <package pattern="runtime.any.system.resources.resourcemanager" />
      <package pattern="runtime.any.system.runtime" />
      <package pattern="runtime.any.system.runtime.handles" />
      <package pattern="runtime.any.system.runtime.interopservices" />
      <package pattern="runtime.any.system.text.encoding" />
      <package pattern="runtime.any.system.threading.tasks" />
      <package pattern="runtime.debian.8-x64.runtime.native.system.security.cryptography.openssl" />
      <package pattern="runtime.fedora.23-x64.runtime.native.system.security.cryptography.openssl" />
      <package pattern="runtime.fedora.24-x64.runtime.native.system.security.cryptography.openssl" />
      <package pattern="runtime.native.system" />
      <package pattern="runtime.native.system.io.compression" />
      <package pattern="runtime.native.system.net.http" />
      <package pattern="runtime.native.system.security.cryptography.apple" />
      <package pattern="runtime.native.system.security.cryptography.openssl" />
      <package pattern="runtime.opensuse.13.2-x64.runtime.native.system.security.cryptography.openssl" />
      <package pattern="runtime.opensuse.42.1-x64.runtime.native.system.security.cryptography.openssl" />
      <package pattern="runtime.osx.10.10-x64.runtime.native.system.security.cryptography.apple" />
      <package pattern="runtime.osx.10.10-x64.runtime.native.system.security.cryptography.openssl" />
      <package pattern="runtime.rhel.7-x64.runtime.native.system.security.cryptography.openssl" />
      <package pattern="runtime.ubuntu.14.04-x64.runtime.native.system.security.cryptography.openssl" />
      <package pattern="runtime.ubuntu.16.04-x64.runtime.native.system.security.cryptography.openssl" />
      <package pattern="runtime.ubuntu.16.10-x64.runtime.native.system.security.cryptography.openssl" />
      <package pattern="runtime.win.system.runtime.extensions" />
      <package pattern="system.appcontext" />
      <package pattern="system.buffers" />
      <package pattern="system.collections" />
      <package pattern="system.collections.concurrent" />
      <package pattern="system.collections.immutable" />
      <package pattern="system.collections.nongeneric" />
      <package pattern="system.collections.specialized" />
      <package pattern="system.componentmodel" />
      <package pattern="system.componentmodel.primitives" />
      <package pattern="system.componentmodel.typeconverter" />
      <package pattern="system.configuration.configurationmanager" />
      <package pattern="system.console" />
      <package pattern="system.diagnostics.debug" />
      <package pattern="system.diagnostics.diagnosticsource" />
      <package pattern="system.diagnostics.tools" />
      <package pattern="system.diagnostics.tracesource" />
      <package pattern="system.diagnostics.tracing" />
      <package pattern="system.drawing.common" />
      <package pattern="system.dynamic.runtime" />
      <package pattern="system.globalization" />
      <package pattern="system.globalization.calendars" />
      <package pattern="system.globalization.extensions" />
      <package pattern="system.io" />
      <package pattern="system.io.compression" />
      <package pattern="system.io.compression.zipfile" />
      <package pattern="system.io.filesystem" />
      <package pattern="system.io.filesystem.primitives" />
      <package pattern="system.linq" />
      <package pattern="system.linq.expressions" />
      <package pattern="system.memory" />
      <package pattern="system.net.http" />
      <package pattern="system.net.primitives" />
      <package pattern="system.net.sockets" />
      <package pattern="system.objectmodel" />
      <package pattern="system.private.uri" />
      <package pattern="system.reflection" />
      <package pattern="system.reflection.emit" />
      <package pattern="system.reflection.emit.ilgeneration" />
      <package pattern="system.reflection.emit.lightweight" />
      <package pattern="system.reflection.extensions" />
      <package pattern="system.reflection.metadata" />
      <package pattern="system.reflection.primitives" />
      <package pattern="system.reflection.typeextensions" />
      <package pattern="system.resources.resourcemanager" />
      <package pattern="system.runtime" />
      <package pattern="system.runtime.extensions" />
      <package pattern="system.runtime.handles" />
      <package pattern="system.runtime.interopservices" />
      <package pattern="system.runtime.interopservices.runtimeinformation" />
      <package pattern="system.runtime.numerics" />
      <package pattern="system.security.accesscontrol" />
      <package pattern="system.security.cryptography.algorithms" />
      <package pattern="system.security.cryptography.cng" />
      <package pattern="system.security.cryptography.csp" />
      <package pattern="system.security.cryptography.encoding" />
      <package pattern="system.security.cryptography.openssl" />
      <package pattern="system.security.cryptography.primitives" />
      <package pattern="system.security.cryptography.protecteddata" />
      <package pattern="system.security.cryptography.x509certificates" />
      <package pattern="system.security.permissions" />
      <package pattern="system.security.principal.windows" />
      <package pattern="system.text.encoding" />
      <package pattern="system.text.encoding.codepages" />
      <package pattern="system.text.encoding.extensions" />
      <package pattern="system.text.json" />
      <package pattern="system.text.regularexpressions" />
      <package pattern="system.threading" />
      <package pattern="system.threading.tasks" />
      <package pattern="system.threading.tasks.dataflow" />
      <package pattern="system.threading.tasks.extensions" />
      <package pattern="system.threading.timer" />
      <package pattern="system.windows.extensions" />
      <package pattern="system.xml.readerwriter" />
      <package pattern="system.xml.xdocument" />
      <package pattern="system.xml.xmldocument" />
      <package pattern="vswhere" />
      <package pattern="xunit.abstractions" />
      <package pattern="xunit.analyzers" />
      <package pattern="xunit.runner.visualstudio" />
    </packageSource>
  </packageSourceMapping>
</configuration>
