<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="nuget-build" value="https://dotnet.myget.org/F/nuget-build/api/v3/index.json" />
    <add key="dotnet3" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet3/nuget/v3/index.json" />
    <add key="dotnet3-transport" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet3-transport/nuget/v3/index.json" />
    <add key="code-analysis" value="https://dotnet.myget.org/F/roslyn-analyzers/api/v3/index.json" />
    <add key="winui3-pre" value="https://pkgs.dev.azure.com/microsoft/_packaging/WinUI-Xaml-CI/nuget/v3/index.json" />
    <!--<add key="localNuGet" value="C:\Users\t-estes\Desktop\NugetPkgs" />-->
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
